
<div class="container">
	<div class="favorite" (click)="addToFavorite()">
		<mat-icon svgIcon="stars"></mat-icon>
	</div>
	<mat-card class="example-card"  appHoverItem routerLink = '/item/{{item._id}}'>
		<div class="promo-container">
				<div class="promo" *ngIf="item.promo">
					{{item.promoTitle}}
				</div>				
		</div>
  <mat-card-header>
    <mat-card-title class="title">{{item.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="item.imageUrl" alt="Image">
  <mat-card-content>	 
		<div class="colors">
			<div class="color" *ngFor="let el of item.colors">
				<div [ngStyle] = "{background:el}"></div>			
			</div>
		</div>
		<p>
			<span *ngIf="item.oldPrice>0">{{item.oldPrice}}грн</span>
			{{item.newPrice}}грн
		</p>
  </mat-card-content> 
</mat-card>
<div id="message" [class]="doubleItemMessageClass">{{message}}</div>
</div>