<div class="filer-container">		
	<div class="active-filters">
		<span *ngIf="priceValueFilter.length">{{priceValueFilter[0]}}грн - {{priceValueFilter[1]}}грн</span>
		<span *ngFor="let cat of categorySelectedFilter">{{cat}}</span>
		<span *ngFor="let brandF of brandSelectedFilter">{{brandF}}</span>
		<button (click)="resetFilters()"
			*ngIf="priceValueFilter.length || categorySelectedFilter.length || brandSelectedFilter.length || subCategoryFilter"
			>Відмінити фільтри
		</button>
	</div>
	<div class="price-slider">
		<h5>Ціна</h5>
		<p> 
			<span >від </span><span class="price"> {{priceValue[0]}} </span> грн <span></span>  <span>до</span> <span class="price"> {{priceValue[1]}} </span> грн
		</p>
		<nouislider [connect]="false" [min]="0" [max]="priceMax" [step]="10" [(ngModel)]="priceValue" (change)="rangePriceChanged()" *ngIf="priceMax"></nouislider>
	</div>
	<mat-radio-group  class="category" [(ngModel)]="subCategoryIndex">
		<h5>Категорія</h5>
		<mat-radio-button class="category-radio" color="primary" *ngFor="let item of menuItems; let i=index" [value]="i">{{item.value}}</mat-radio-button>
	</mat-radio-group>
	<section class="subcategory" *ngIf="subCategoryIndex!=undefind">	
		<h5>Підкатегорія</h5>		
		<mat-checkbox class="category-checkbox" color="primary" *ngFor="let item of menuItems[subCategoryIndex].children; let k=index"  [(ngModel)]="subCategory[k]" (change)="categorySelected()">{{item.value}}</mat-checkbox><br>
	</section>
	<section class="brands">	
		<h5>Виробники</h5>		
		<mat-checkbox class="category-checkbox" color="primary" *ngFor="let brand of allBrands; let u=index"  [(ngModel)]="brandsSelected[u]" (change)="brandSelected()">{{brand}}</mat-checkbox><br>
	</section>
</div>