.header-container {
	width: 100%;
	height: 160px;
	background: #669999;	
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	.toolbar {
		width: 100%;
	}
	.tools {
		display: flex;
		display: -webkit-flex;
		justify-content: space-around;
		align-items: center;
		-webkit-align-items: center;
		transition: all .5s;
		-webkit-transition: all .5s;
    width: 100%;
    height: 100%;
		div {
			cursor: pointer;
			padding: 0px 5px 15px;			
			border-radius: 5px;
			outline: none;
			span.my-purchases {
				position: relative;
				span.my-purchases-count {
					position: absolute;
					top: 1px;
					right: -25px;
					z-index: 2;
					color: #992600;
					font-weight: 600;
				}//	span.my-purchases-count
			}//	span.my-purchases
			span.my-favorite {
				position: relative;
				span.my-favorite-count {
					position: absolute;
					top: 1px;
					right: -25px;
					z-index: 2;
					color: #992600;
					font-weight: 600;
				}//	span.my-favorite-count
			}//	span.my-favorite
			span {
				font-size: 18px;
				font-family: sans-serif;
				color:#e6e6e6;				
			}// span
			mat-icon {
				width: 35px;
				height: 35px;
				top: 10px;
				position: relative;
				color:#e6e6e6;
			}//	mat-icon
			&:hover {
				box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
							 0 2px 2px 0 rgba(0,0,0,.14), 
							0 1px 5px 0 rgba(0,0,0,.12);
				span {
					color: #992600;
					span.my-purchases-count,
					span.my-favorite-count{
						color: #fff;
					}//	span.my-purchases-count
				}// span			
				mat-icon {
					color: #992600;
				}//	mat-icon
			}//	div:hover
			&:last-child,
			&:nth-last-child(2) {
				padding-right: 35px;
			}
		}//	div
		form {
			input[type="text"] {
				width: 200px;
				border: 1px solid #888;
				border-radius: 4px;
				font-size: 16px;
				background-color: rgba(255,255,255,0.4);
				background-image: url('../../../assets/images/searchicon.png');
				background-size: 20px 20px;
   		  background-position: 12px 12px;
				background-repeat: no-repeat;
				padding: 12px 20px 12px 40px;
				-webkit-transition: width 0.4s ease-in-out;
				transition: width 0.4s ease-in-out;
				outline: none;
			}//	input[type="text"]
			input[type="text"]:focus {
					width: 400px;
			}//	input[type="text"]:focus
		}//	form
	}//	tools
}// header-container

