<div class="header-container">
	<div class="toolbar">
		<app-toolbar></app-toolbar>
	</div>	
	<div class="tools">
		<img *ngIf="logoImage" [src]="logoImage" alt="logo">	
		<form>
				<input type="text" name="search" placeholder="Search..">
		</form>	
		<div (click)="home()">
			<mat-icon svgIcon="home"></mat-icon>
			<span *ngIf="mediaXS">
				Головна
			</span>
		</div>
		<div (click)="goToMyAccount()">
			<mat-icon svgIcon="account"></mat-icon>
			<span *ngIf="mediaXS">
				{{accountName}}
			</span>
		</div>
		<div (click)="logOut()" *ngIf="logoutVisible">
			<mat-icon svgIcon="logout"></mat-icon>
			<span *ngIf="mediaXS">
				Вийти
			</span>
		</div>
		<div (click)="goToMyBag()">
			<mat-icon svgIcon="shopping-cart"></mat-icon>
			<span class="my-purchases">
				{{purchaseName}}
				<span class="my-purchases-count" *ngIf="myPurchasesCount>0">
					({{myPurchasesCount}})
				</span>
			</span>
		</div>
		<div (click)="goToMyFavorite()">
			<mat-icon svgIcon="stars"></mat-icon>
			<span class="my-favorite">
				 {{favoriteName}}
				 <span class="my-favorite-count" *ngIf="myFavoriteCount>0">
					({{myFavoriteCount}})
				</span>
			</span>
		</div>	
	</div>
	<div id="message" [class]="doubleItemMessageClass">{{message}}</div>
</div>






