<div class="header-container">
	<div class="toolbar">
		<app-toolbar></app-toolbar>
	</div>	
	<div class="tools">
		<img *ngIf="logoImage" [src]="logoImage" alt="logo">	
		<form>
				<input type="text" name="search" placeholder="Search..">
		</form>	
		<div (click)="loginOrSignup()"><mat-icon svgIcon="account"></mat-icon><span> Особистий кабінет</span></div>
		<div (click)="goToMyBag()"><mat-icon svgIcon="shopping-cart"></mat-icon><span> Мої покупки</span></div>
		<div><mat-icon svgIcon="stars"></mat-icon><span> Список бажань</span></div>	
	</div>
	<div id="message" [class]="doubleItemMessage">Кошик порожній !</div>
</div>






