<div class="modal" id="modal">		
	<form #signUpForm="ngForm" (ngSubmit)="registerNewUser()">
		<span (click)="close()" class="close" title="Close Modal">&times;</span>
		<h1>Реєстрація</h1>
		<hr>
		<input type="text" ngModel placeholder="Введіть Ім'я" name="name" required   #name="ngModel">
		<input type="text" ngModel placeholder="Введіть Прізвище" name="lastname"  required #lastname="ngModel">	
		<input type="tel" ngModel placeholder="Введіть номер телефону" name="phone"  required #phone="ngModel">
		<input type="email" ngModel placeholder="Введіть email" name="email" email  required #email="ngModel"><br>
		<label class="help-massage">
			<span *ngIf="!email.valid && email.touched">Введіть коректний email, наприклад: example@email.com</span>
		</label>
		<input type="text" ngModel placeholder="Введіть місто" name="city" required   #city="ngModel">
		<input type="password" ngModel placeholder="Введіть пароль" name="password" required #password="ngModel"><br>
		<label class="help-massage">
			<span *ngIf="!password.valid && password.touched">Введіть пароль !</span>
		</label>
		<input type="password" ngModel placeholder="Підтвердіть пароль" name="passwordconfirm"  required  #passwordconfirm="ngModel"><br>
		<label class="help-massage">
			<span *ngIf="password.value != passwordconfirm.value">Паролі не співпадають !</span>
		</label>
		<label>
			<input type="checkbox" ngModel checked="checked" name="remember" #remember="ngModel">Запам'ятати мене
		</label>
		<div class="buttons-container">
			<button type="submit" [disabled]="!isValidForm()">Реєстрація</button>
			<!-- <button type="button" (click)="close()">Відміна</button>	 -->
			<button mat-button color="warn" (click)="goToLogin()">Авторизуватися</button>					
		</div>
	</form>
</div>
