.container {
	width: 200px;
	min-height: 800px;
	text-align: center;
	background: #fff;
	font-size: 16px;
	font-weight: 700;
	color: #4d4d33;
	margin-top: 20px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
							 0 2px 2px 0 rgba(0,0,0,.14), 
							0 1px 5px 0 rgba(0,0,0,.12);
	mat-option {
		&:hover {
			color:  #992600;
		}
	}
	button {
			white-space: normal;
			line-height: 1;
		&[mat-menu-item] {
			background: #bfbfbf + 60%;
			font-weight: 400;
			font-size: 14px;
		}
		&[mat-button]{
			background: #bfbfbf;
			width: 100%;
			height: 40px;
			font-weight: 700;
			color: #4d4d33;
			&:hover {
				background: #bfbfbf + 50%;
			}			
		}
		&:hover {
			color:  #992600;
			background: #bfbfbf + 40%;
		}
	}// button

	.submenu {
		background: #bfbfbf + 30%!important;
	}


}//	container
mat-toolbar {
	padding: 0;
	display: flex;
	display: -webkit-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background: #669999 + 25%;	
	height: auto;	
	span {
		button[mat-button] {
			font-size: 16px;
			font-weight: 700;
			color: #fff;
			padding: 5px;
			white-space: normal;
			&:hover {
				box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
								0 2px 2px 0 rgba(0,0,0,.14), 
							0 1px 5px 0 rgba(0,0,0,.12);
				color: #992600;
				background: #669999;
			}//	button[mat-button]:hover
		}//	button[mat-button]
	}//	span
}//	mat-toolbar