<mat-icon svgIcon="hidden-menu"  *ngIf="!media" (click)="showOrHideToolbarMenu()"></mat-icon>
<mat-toolbar *ngIf="media" [class]="toolbarClassName">
		<mat-icon class="menu" svgIcon="hidden-menu" (click)="showOrHideToolbarMenu()"></mat-icon>
	<span *ngFor="let item of menuItems">
		<span *ngIf="item.children && item.children.length > 0">
			<button mat-button [matMenuTriggerFor]="menu.childMenu">
				{{item.value}}
			</button>
			<app-navbar-menu-child #menu [items]="item.children"></app-navbar-menu-child>
		</span>				
	</span>
</mat-toolbar>

