
<div class="container">

	<accordion [showArrows]="true" [closeOthers]="false">		
		<accordion-group>
				<accordion-heading>
						<button mat-button >Спорядження</button>
				</accordion-heading>
				<accordion-group>
						<accordion-heading>
                <button mat-button class="submenu">Рюкзаки</button>
            </accordion-heading>
						<button mat-menu-item>Рюкзаки для міста</button>
						<button mat-menu-item>Рюкзаки для тркінгу</button>							
						<button mat-menu-item>Велорюкзаки</button>
						<button mat-menu-item>Рюкзаки для ноутбука</button>
						<button mat-menu-item>Рюкзаки дитячі</button>
				</accordion-group>
				<accordion-group>
						<accordion-heading>
                <button mat-button class="submenu">Намети</button>
            </accordion-heading>
						<button mat-menu-item>Намети одномісні</button>
						<button mat-menu-item>Намети двомісні</button>							
						<button mat-menu-item>Намети тримісні</button>
						<button mat-menu-item>Намети чотиримісні</button>
				</accordion-group>
				<accordion-group>
						<accordion-heading>
                <button mat-button class="submenu">Спальники</button>
            </accordion-heading>
						<button mat-menu-item>Спальники одномісні</button>
						<button mat-menu-item>Спальники двомісні</button>
				</accordion-group>
				<accordion-group>
						<accordion-heading>
                <button mat-button class="submenu">Каремати</button>
            </accordion-heading>
						<button mat-menu-item>Пінні</button>
						<button mat-menu-item>Надувні</button>							
						<button mat-menu-item>Самонадувні</button>
				</accordion-group>
				<accordion-group>
						<accordion-heading>
                <button mat-button class="submenu">Пальники</button>
            </accordion-heading>
						<button mat-menu-item>Пальники спиртові</button>
						<button mat-menu-item>Пальники газові</button>							
						<button mat-menu-item>Пальники мультипаливні</button>
						<button mat-menu-item>Інтегровані системи </button>
				</accordion-group>
				<accordion-group>
						<accordion-heading>
                <button mat-button class="submenu">Аксесуари</button>
            </accordion-heading>
						<button mat-menu-item>Посуд</button>
						<button mat-menu-item>Ножі, інструменти</button>							
						<button mat-menu-item>Питні системи</button>
						<button mat-menu-item>Трекінгові палиці</button>
						<button mat-menu-item>Інше</button>
				</accordion-group>	
		</accordion-group>	
		
		<accordion-group>
				<accordion-heading>
						<button mat-button>Гірські лижі</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Сноубординг</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Альпінізм, скелелазіння</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Велосипеди</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Велозапчастини та аксесуари</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Одяг</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Взуття</button>
				</accordion-heading>
		</accordion-group>

		<accordion-group>
				<accordion-heading>
						<button mat-button>Зимові аксесуари</button>
				</accordion-heading>
		</accordion-group>
		
	</accordion>

	
</div>	